<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="TimeTortoise-Dev" Publisher="CN=RedGreenCode" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="e1bdf58c-f37c-40c8-a5eb-ee7988bf35bb" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TimeTortoise.UWP</DisplayName>
    <PublisherDisplayName>RedGreenCode</PublisherDisplayName>
    <Logo>assets\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TimeTortoise.UWP.App">
      <uap:VisualElements DisplayName="TimeTortoise" Square150x150Logo="assets\Medium\Medium150x150Logo.png" Square44x44Logo="assets\AppList\AppList.png" Description="Slow and steady time tracking" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="assets\Wide\Wide310x150Logo.png" Square71x71Logo="assets\Small\Small71x71Logo.png" Square310x310Logo="assets\Large\Large310x310Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="assets\SplashScreen\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="assets\Badge\Badge.png" Notification="badge" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>